.layout {
    background-color: #CED3DC;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#626C66;
}
a {
    color:#4E8098;
    font-size: 25px;
}

header > a {
    margin: 15px;
}

header {
    border-bottom: 1px solid black;
}

.active {
    background-color: #A31621;
}